@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Angst';
  src:
    local('Angst'),
    url(../assets/fonts/AngstVF.woff) format('woff');
}

@font-face {
  font-family: 'Patriciana';
  src:
    local('Patriciana'),
    url(../assets/fonts/Patriciana.woff) format('woff');
}
