@import '_reset.scss';
@import '_fonts.scss';

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background: #f8f8f8;
  color: #2d2926;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &.hidden {
    overflow: hidden;
  }
}

.layout {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // font-family: 'CeraPro';
  font-weight: 400;
  animation: ani 1.5s forwards;
  /* color: #000; */
}

.main {
  flex: 1 1 auto;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1292px) {
    max-width: 970px;
  }

  @media screen and (max-width: 991.98px) {
    max-width: 750px;
  }

  @media screen and (max-width: 767.98px) {
    max-width: none;
    padding: 0 16px;
  }
}

.title {
  color: #000;
  text-align: center;
  font-family: 'Angst';
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0px auto 130px auto;
  position: relative;
  display: table;

  @media screen and (max-width: 1280px) {
    font-size: calc(27px + 23 * ((100vw - 320px) / 960));
    margin: 0px auto 70px auto;
  }

  & span {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e7a9a9;

    &:before {
      content: '';
      position: absolute;
      width: 38px;
      height: 24px;
      top: -12px;
      right: 0px;
      background: #f8f8f8 url(../assets/decor.svg) center / cover no-repeat;
    }

    &:after {
      content: '';
      position: absolute;
      width: 38px;
      height: 24px;
      top: -12px;
      left: 0px;
      background: #f8f8f8 url(../assets/decor.svg) center / cover no-repeat;
    }
  }
}
