.footer {
  margin-top: 100px;
  position: relative;
  overflow: hidden;

  width: 100%;
  clear: both;
  position: relative;
  z-index: 2;

  @media (max-width: 450px) {
    margin-top: 60px;
  }
}

.footerBg {
  width: 100%;
  height: 290px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;

  @media (min-width: 1200px) {
    height: 350px;
  }

  & img {
    height: 100%;
    max-width: inherit;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;

    @media (max-width: 450px) {
      height: 130%;
    }

    @media (max-width: 400px) {
      height: 110%;
    }

    @media (min-width: 1200px) {
      height: 170%;
    }
  }
}

.footerContainer {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 450px) {
    padding: 0 16px;
  }
}

.footerInner {
  position: relative;
  z-index: 2;
  text-align: center;
}

.footerTitle {
  font-size: calc(27px + 15 * (100vw - 320px) / 1600);
  font-family: 'Patriciana';
  font-weight: 800;
  white-space: nowrap;
}

.footerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  padding-bottom: 60px;
  position: relative;

  @media (max-width: 450px) {
    align-items: flex-start;
    padding-bottom: 35px;
  }

  @media (min-width: 1200px) {
    margin-top: 170px;
    padding-bottom: 50px;
  }
}

.footerTextFirst {
  font-size: calc(50px + 15 * (100vw - 320px) / 1600);
  font-weight: 400;
  line-height: 80%;
  letter-spacing: 0;
  font-family: 'Patriciana';
  font-style: italic;
  white-space: nowrap;
  color: rgba(231, 169, 169, 0.8);

  @media (max-width: 450px) {
    text-align: center;
  }
}

.footerTextSecond {
  margin-left: 50px;
  font-size: calc(40px + 15 * (100vw - 320px) / 1600);
  font-weight: 400;
  line-height: 80%;
  font-family: 'Patriciana';
  font-style: italic;
  text-align: right;
  letter-spacing: 0;

  @media (max-width: 450px) {
    text-align: center;
    max-width: 300px;
  }
}
